{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('task_create') }}" class="btn btn-info">Créer une tâche</a>
    {% endif %}
    <div class="row">

        {% if tasks is empty %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée.
                {% if not is_granted('ROLE_USER') %}
                    <a href="{{ path('login') }}" class="btn btn-warning pull-right">Se connecter pour créer une tâche</a>
                {% endif %}
            </div>
        {% endif %}

        {% for task in tasks %}

            {% set taskTitle = task.title ~ ' - ' ~ task.user.username %}
            {% set isAnonTask = task.user.username is same as("Anonyme") %}

            <div class="col-sm-4 col-lg-4 col-md-4 align-items-center">
                <div class="thumbnail">
                    <div class="caption">
                        <h4 class="pull-right">
                            {% if task.isDone %}
                                <span class="glyphicon glyphicon-ok"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove"></span>
                            {% endif %}
                        </h4>
                        <h4>

                            {% if task.user == app.user %}
                                <a href="{{ path('task_edit', {'id' : task.id }) }}">{{ taskTitle }}</a>
                            {% else %}
                                {{ taskTitle }}
                            {% endif %}
                        </h4>
                        <p>{{ task.content|nl2br }}</p>
                    </div>

                    <div>
                        {# Allow author of the task to toggle its status #}
                        {% if task.user == app.user %}
                            <form action="{{ path('task_toggle', {'id' : task.id }) }}">
                                <button class="btn btn-success btn-sm pull-right">
                                    {% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}
                                </button>
                            </form>
                        {% endif %}

                        {# Allow author of the task to remove it, or allow admins to remove anonymous tasks #}
                        {% if task.user == app.user or isAnonTask and is_granted('ROLE_ADMIN') %}
                            <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                            </form>
                        {% endif %}
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
